atomicwrites==1.2.1
attrs==18.2.0
Cerberus==1.2
Click==7.0
Faker==1.0.1
Flask==1.0.2
Flask-PyMongo==2.2.0
flask-swagger-ui==3.18.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pymongo==3.7.2
pytest==4.0.2
pytest-flask==0.14.0
python-dateutil==2.7.5
six==1.12.0
text-unidecode==1.2
Werkzeug==0.14.1
